.mobile-nav-wrapper {
    z-index: 1;
    top:12px;
    left:12px;
    position:relative;
    display:block;
    width:40px;
    height:40px;
    border-radius:50%; 

}

.sphere-1, .sphere-2, .sphere-3 {
    width:38px;
    height:38px;
    border-radius:50%;
    background-color: rgb(3, 150, 252);
    font-size: 1.5em;
    color: white;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    display: flex;
    justify-content: center;
    line-height: 42px;
    top:12px;
    left:12px;
    position:fixed;
}

.sphere-1:hover, .sphere-2:hover, .sphere-3:hover {
    color:black;
    font-size: 1.9em;
}

.sphere-mask:hover {
    
    font-size: 2.8em;
}

.sphere-mask {
    top:11px;
    left:11px;
    width:40px;
    height:40px;
    background:white;
    border-radius:50%;
    position:absolute;
    line-height: 45px;
    font-size: 2.5em;
    color: rgb(3, 150, 252);
    text-align:center;
    cursor:pointer;
    position:fixed;
}

@media (min-height: 400px) {
    .mobile-nav {
        display: none;
    }
}

@media (max-width: 600px) {
    .mobile-nav {
        display: block;
    }
}

@media ( max-height: 150px ){
     .mobile-nav {
        display: none;
    }
}