body {
		height:100%;
    background-color: rgb(40, 40, 40);
    font-family: 'Josefin Sans', sans-serif;
		background-image: url("index.jpg");
}

a {
    text-decoration: none;
}

#my-Canvas {
    position:fixed;
    z-index: -1;
    top:0px;
    right:0px;
}

.responsive-image {
    max-width: 100%;
    margin: auto;
}

.hover-cell:hover{
    background-color: white;
    border:5px solid white;
    border-radius: 50%;
    color: rgb(115, 115, 115);
}

.hover-cell:hover:after {
    border-radius: 50%;
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 5px solid rgb(115, 115, 115);
}

.hover-cell {
    color: transparent;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    width: 40%;
    padding-top: 20%;
    padding-bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.container {
  margin-left: 125px;
  max-width: 1200px;
	margin-top: 20px;
}

.cell {
    margin-bottom: 30px;
    position: relative;
}

.cell img {
  display: block;
}

.grid {
    justify-content: space-around;
}

@media (min-width: 600px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .cell {
        width: 40%;
    }
	

}

@media (max-width: 599px) {

	.container {
  		margin-left: 10px;
			margin-top: 65px;
		}
	
	.cell {
        width: 95%;
    }

}

		

@media (min-width: 1000px) {
    .cell {
        width: calc(90% / 3);
    }
    
     .hover-cell{
        width: calc(90% / 3);
        padding-top: calc(90% / 6);
        padding-bottom: calc(90% / 6);
    }
}