html {
		height:100%;
		background-color: rgb(40, 40, 40);
    font-family: 'Josefin Sans', sans-serif;
		background-image: url("index.jpg");
}

.home {
    display:none;
    top:20px;
    left:20px;
    width:40px;
    height:40px;
    background:white;
    border-radius:50%;
    position:absolute;
    font-size: 1.5em;
    color: black;
    text-align:center;
    cursor:pointer;
    position:fixed;
    line-height: 40px;
}

.home:hover {
    background:white;
    color:rgb(115, 115, 115);
}

h1.portfolio {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 4em;
    position:absolute;
    top: 10%;
    margin-top: 0;
    width: 90%;
    left: 5%;
}

h2.portfolio {
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    color: white;
    position:absolute;
    top: 27%;
    height:37%;
    width: 80%;
    left:10%;
}

.portfolio-img {
  position: fixed;
	width: 200px;
	height: 200px;
  left: 50%;  
	transform: translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%); 
	-moz-transform:translate(-50%, -50%); 
	-ms-transform:translate(-50%, -50%); 
	-o-transform:translate(-50%, -50%);
}

.one, .two, .three {
    width:150px;
    height:150px;
}

#my-Canvas {
    position:fixed;
    z-index: -1;
    top:0;
    right:0;
}

.mobile-nav {
    display: block;
		color: black;
}

.mobile-nav:hover {
      color: rgb(115, 115, 115);
}

.sphere-mask {
    background-color: white;
}

.sphere-mask:hover {
    background-color: rgb(115, 115, 115);
		color:white;
}

ul.portfolio  {
    right:0px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
 	
    position: fixed;
    bottom:0;
    height: 150px;
    width: 100%;
    font-size: 4.5em;
}

li.portfolio {
    float: left;
}

li a.portfolio {
    display: flex;
    color: white;
    padding: 10px;
    text-decoration: none;
}

li a.portfolio:hover:not(.active) {
    background-color: #111;
}


.last{
    margin-left: -28px;
}

.next{
    margin-left: 2px;
}

.next, .last {
    color: white;
    position:absolute;
    display: flex;
    justify-content: center;
    padding-top: 39px;
    padding-bottom: 39px;
    
}

@media (max-height: 730px) {


	.portfolio-img {
		top: 55%;
		height: 150px;
		width: 150px;
	}
	

}

@media (max-height: 580px) {
	
	ul.portfolio {
		display: none;
	}
	
	h2.portfolio {
		top: 25%;

	}

}





@media (max-width: 620px) {
    .two {
        display: none;
    }
    
    .mobile-nav {
        display: none;
    }
    
    .home {
        display:block;
    }

    h2.portfolio {
        width: 90%;
        left:5%;
    }
}
	


@media (max-width: 460px) {
    .one, .three {
        display: none;
    }
    
    .last{
        left:169px;
    }

    .next{
        right:102px;
    }
    
    h1.portfolio {
        font-size: 3em;
    }
    
    h2.portfolio {
        font-size: 1;
    }
}